<mat-toolbar color="primary">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <span>Activities Management</span>

      <!-- Ícone de menu para mobile -->
      <button
        *ngIf="isSmallScreen$ | async"
        mat-icon-button
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="isAuthenticated$ | async">
          <mat-icon>check_circle</mat-icon>
          Activities
        </button>
        <button mat-menu-item *ngIf="isAuthenticated$ | async" (click)="onLogout()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
        <button mat-menu-item *ngIf="!(isAuthenticated$ | async)">
          <mat-icon>login</mat-icon>
          Login
        </button>
      </mat-menu>

      <!-- Botões para tela grande -->
      <div *ngIf="!(isSmallScreen$ | async)" class="d-flex align-items-center">
        <ng-container *ngIf="isAuthenticated$ | async; else loginBlock">
          <button mat-raised-button class="me-4"><mat-icon>check_circle</mat-icon>Activities</button>
          <button mat-raised-button color="accent" (click)="onLogout()">
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button>
        </ng-container>

        <ng-template #loginBlock>
          <button mat-button>Login</button>
        </ng-template>
      </div>
    </div>
  </div>
</mat-toolbar>
