<div class="card-body p-md-5 mx-md-4">
  <div class="text-center">
    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
      style="width: 185px"
      alt="logo"
    />
    <h4 class="mt-1 mb-5 pb-1">We are The Wesley Team</h4>
  </div>

  <form
    [formGroup]="loginForm"
    autocomplete="off"
    (ngSubmit)="onSubmit()"
    novalidate
  >
    <p class="text-center">Please login to your account</p>

    <div class="form-group mb-1">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
          placeholder="Email address"
        />
        <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']">
          Email is required
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['email']">
          Please enter a valid email
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group mb-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']">
          Password is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="text-center pt-1 mb-5 pb-1">
      <button
        mat-raised-button
        color="primary"
        class="btn btn-primary btn-block gradient-custom-2 mb-3"
      >
        Log in
      </button>
    </div>
  </form>
</div>
